.totalCostDisplay {
  padding: 8px 12px;
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 18px;
  color: #333;
  box-shadow: 0 2px 4px rgba(104, 104, 104, 0.1);
  font-family: 'Arial', sans-serif;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
